In [5]:
#importing libraries
import pandas as pd
import numpy as ny
import os

In [6]:
path = r'C:\Users\Bhati\OneDrive\Desktop\CF\Data Analytics Immersion\Achievement 4\11-Apr-2023 Instacart Basket Analysis'

In [7]:
# importing the new dataset orders_products_merged
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [8]:
# Creating subset for the first million rows
df_ords_prods_merge_subset = df_ords_prods_merge[:1000000]

In [9]:
# User defined Function to create new flags
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Np.nan'

In [10]:
#Creating new column and applying user defined function to all rows
df_ords_prods_merge_subset['price_range'] = df_ords_prods_merge_subset.apply(price_label, axis=1)

C:\Users\Bhati\AppData\Local\Temp\ipykernel_3212\2405035199.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_merge_subset['price_range'] = df_ords_prods_merge_subset.apply(price_label, axis=1)

In [11]:
df_ords_prods_merge_subset['price_range'].value_counts(dropna = False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [12]:
df_ords_prods_merge_subset.shape

(1000000, 18)

In [13]:
df_ords_prods_merge_subset['prices'].max()

24.5

# Creating new Flag using loc on entire dataframe

In [14]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

checking for frequency of order day wise

In [18]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [19]:
# Bifurcating days of week with respect to frequency of sales
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [20]:
df_ords_prods_merge['busiest day'] = result

In [21]:
df_ords_prods_merge['busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest day, dtype: int64

Checking for busiest days as per the frequency of orders

In [22]:
newresult = []

for day in df_ords_prods_merge["orders_day_of_week"]:
  if day == 0 or day == 1:
    newresult.append("Busiest day")
  elif day == 4 or day == 3:
    newresult.append("Least busy day")
  else:
    newresult.append("Regularly busy")

In [23]:
df_ords_prods_merge['busiest days'] = newresult

In [24]:
df_ords_prods_merge['busiest days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest day       11864412
Least busy day     7624336
Name: busiest days, dtype: int64

Checking for busiest hour as per the frequency of orders

In [25]:
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [26]:
hours = []

for hour in df_ords_prods_merge['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [27]:
df_ords_prods_merge['busiest_period_of_day'] = hours

In [28]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

Deleting columns which are not required for final prepared data

In [29]:
df_ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,21,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest day,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,13,NaN,10,0,both,both,Mid-range product,Regularly busy,Least busy day,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Least busy day,Average orders

In [42]:
df_ords_prods_merge_new = df_ords_prods_merge.drop(['Unnamed: 0_x','Unnamed: 0_y','_merge','exists'],axis=1)

In [43]:
df_ords_prods_merge_new.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Least busy day,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Least busy day,Average orders

In [45]:
df_ords_prods_merge_new.shape

(32404859, 17)

# Exporting the final clean file to Prepared Data

In [46]:
df_ords_prods_merge_new.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_busiesttime.pkl'))